body{
  display: grid;
  place-items: center;
  height: 100vh;
}

.box{
  outline: 5px solid red;
}

img{
  /*
  transform: translate(100px, 100px);   posição
             rotate(90deg);             rotação
             rotate(0.5turn);           rotação  
             scale(2)                   altera tamanho
             skewX(20deg);              inclinação
  */
  transform: translateX(100px) scale(1.5) rotate(-15deg);
  
}