body{
  margin: 30px;
}

.box{
  background-color: blue;
  height: 300px;
  width: 300px;

  transition-property: background-color, border-radius;
  transition-duration: 2s, 4s;
  /*transition-delay: 1s;*/
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box:hover{
  background-color: orange;
  border-radius: 50%;
}